body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-24px;
  width:997px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:29px;
  width:997px;
  height:611px;
  display:flex;
  transition:none;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:611px;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:611px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:29px;
  width:997px;
  height:611px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:260px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:268px;
  width:27px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:268px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:310px;
  width:264px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:383px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:669px;
  width:989px;
  height:480px;
  display:flex;
  transition:none;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:480px;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:732px;
  width:542px;
  height:381px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:686px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:699px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:231px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
