body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-24px;
  width:997px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:29px;
  width:997px;
  height:611px;
  display:flex;
  transition:none;
}
#u1343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:611px;
}
#u1343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:611px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4980392156862745);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:29px;
  width:997px;
  height:611px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:260px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:268px;
  width:27px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1347_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:268px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
}
#u1348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:310px;
  width:264px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:383px;
  width:106px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:669px;
  width:989px;
  height:480px;
  display:flex;
  transition:none;
}
#u1351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:480px;
}
#u1351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:732px;
  width:542px;
  height:381px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:686px;
  width:73px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  color:#D9001B;
}
#u1353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1353_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:699px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u1354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:231px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u1355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
