body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:2087px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:1266px;
  height:718px;
  display:flex;
  transition:none;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:718px;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:758px;
  width:1266px;
  height:106px;
  display:flex;
  transition:none;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:106px;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:874px;
  width:250px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u29 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:899px;
  width:1113px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u30 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:986px;
  width:1266px;
  height:466px;
  display:flex;
  transition:none;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1266px;
  height:466px;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:772px;
  width:799px;
  height:722px;
  display:flex;
  transition:none;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:722px;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:799px;
  width:23px;
  height:31px;
  display:flex;
  transition:none;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:41px;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1407px;
  top:822px;
  width:672px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:839px;
  width:23px;
  height:31px;
  display:flex;
  transition:none;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.3px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:41px;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
