body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-111px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:499px;
  width:1270px;
  height:1111px;
  display:flex;
  transition:none;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:1111px;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:150px;
  width:363px;
  height:128px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:108px;
  width:199px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:150px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:150px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:150px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:270px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:270px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:390px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  color:#D9001B;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:180px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u266_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u266_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:180px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u267_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u267_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:210px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u268_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:95px;
}
#u268_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:85px;
  width:115px;
  height:10px;
}
#u268_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:80px;
  width:20px;
  height:20px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:300px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u269_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:330px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u270_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:95px;
}
#u270_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:85px;
  width:115px;
  height:10px;
}
#u270_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:80px;
  width:20px;
  height:20px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
